{% if EDUCATIONS %}
<section class="education-container section">
<h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
{% for education in EDUCATIONS %}
    <div class="item">
	    <h4 class="degree">{{ education['degree'] }}</h4>
	    <h5 class="meta">{{ education['meta'] }}</h5>
	    <div class="time">{{ education['time'] }}</div>
	</div><!--//item-->
{% endfor %}
</section><!--//education-container-->
{% endif %}
