{% if INTERESTS %}
<div class="interests-section section">
	<h2 class="section-title"><i class="fa fa-heart"></i>Interests</h2>
        <div id="canvas-div-container">
	<canvas id="canvas-container"></canvas>
        </div>
        <script type="text/javascript"> 
            WordCloud(
               document.getElementById('canvas-container'), 
               {
                list: {{ INTERESTS }}, 
                minRotation:'0', 
                maxRotation:'0', 
                shuffle:true, 
                color:color_from_fontSize
               }
            )
        </script>
</div>
{% endif %}
