{% if LANGUAGES %}
<div class="section languages-container">
	<h2 class="section-title"><i class="fa fa-globe"></i>Languages</h2>
	<div class="languageset">
           {% for language in LANGUAGES %}
	     <div class="item">
             <h3 class="level-title">{{ language['name'] }}</h3>
             <div class="level-bar">
               <div class="level-bar-inner" data-level="{{ language['level']|default("0") }}%">
               </div>
               </div>
               {% if language['description'] %}<div class="level-description">{{ language['description'] }}</div>{% endif %}
             </div>
           {% endfor %}
       </div>
</div>
{% endif %}
