{% if PROJECTS %}
<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>{{ PROJECT_INTRO }}</p>
    </div><!--//intro-->
    {% for project in PROJECTS %}
        <div class="item">
            <span class="project-title"><a href="#hook">{{ project['title'] }}</a></span> - <span class="project-tagline">{{ project['tagline'] }}</span>
        </div><!--//item-->
    {% endfor %}
    {% if GITHUB %}
    <h3 class="section-title"><i class="fa fa-github"></i>Github</h3>
    <div id="my-github-projects"/>
    {% endif %}
</section><!--//section-->
{% endif %}
