<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             
 
<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{% if PIC %}{{ PIC }}{% else %}profile.png{% endif %}" alt="profile picture" />
        <h1 class="name">{{NAME}}</h1>
        <h3 class="tagline">{{TAGLINE}}</h3>
    </div><!--//profile-container-->
    
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
           
           {% if EMAIL %}
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{EMAIL}}">{{EMAIL}}</a></li>
            {% endif %}
            
            {% if PHONE %}
            <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{PHONE}}">{{PHONE}}</a></li>
            {% endif %}
            
            {% if WEBSITE %}
            <li class="website"><i class="fa fa-globe"></i><a href="https://{{WEBSITE}}" target="_blank">{{WEBSITE}}</a></li>
            {% endif %}
            
            {% if TWITTER %}
            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{TWITTER}}" target="_blank">{{TWITTER}}</a></li>
            {% endif %}
            
            {% if LINKEDIN %}
            <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{LINKEDIN}}" target="_blank">linkedin.com/in/{{LINKEDIN}}</a></li>
            {% endif %}
            
            {% if GITHUB %}
            <li class="github"><i class="fa fa-github"></i><a href="https://github.com/{{GITHUB}}" target="_blank">github.com/{{GITHUB}}</a></li>
            {% endif %}
            
            {% if GITLAB %}
            <li class="gitlab"><i class="fa fa-gitlab"></i><a href="https://gitlab.com/{{GITHUB}}" target="_blank">gitlab.com/{{GITHUB}}</a></li>
            {% endif %}
            </p>
            <li class="li_print" id="print"><a onclick="print_function()"><i class="fa fa-print"></i>Print this Resume</a></li>
        </ul>
        <script>
           // Print physical
           function print_function() {
             window.print();
           };
           // Print docx
           function print_docx() {
             // Init
             tinymce.init({
               selector: 'html',
               plugins: [
                 "advlist autolink lists link image charmap print preview anchor",
                 "searchreplace visualblocks code fullscreen fullpage",
                 "insertdatetime media table contextmenu paste"
               ],
               toolbar: "insertfile undo redo | styleselect | bold italic | " +
                 "alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | " +
                 "link image"
             });
             // Start convertion docx
             document.getElementById('get_docx').addEventListener('click', function(e) {
               e.preventDefault();
               convertImagesToBase64()
               var content = tinymce.get();
               var converted = htmlDocx.asBlob(
                    content, {
                    orientation: document.querySelector('.page-orientation input:checked').value
                   });
               saveAs(converted, 'joan-ayma-cv.docx');
             });
             // Auxiliar function for Print docx
             function convertImagesToBase64 () {
               contentDocument = tinymce.get('html').getDoc();
               var regularImages = contentDocument.querySelectorAll("img");
               var canvas = document.createElement('canvas');
               var ctx = canvas.getContext('2d');
               [].forEach.call(regularImages, function (imgElement) {
                 // preparing canvas for drawing
                 ctx.clearRect(0, 0, canvas.width, canvas.height);
                 canvas.width = imgElement.width;
                 canvas.height = imgElement.height;
                 ctx.drawImage(imgElement, 0, 0);
                 // by default toDataURL() produces png image, but you can also export to jpeg
                 // checkout function's documentation for more details
                 var dataURL = canvas.toDataURL();
                 imgElement.setAttribute('src', dataURL);
               })
               canvas.remove();
             }; 
           };
        </script>
    </div><!--//contact-container-->
    
</div><!--//sidebar-wrapper-->
