{% if TECHNOLOGIES %}
<div class="interests-section section">
	<h2 class="section-title"><i class="fa fa-microchip"></i>Technologies</h2>
        <div id="canvas-div-container">
	<canvas id="canvas-container-technologies"><canvas>
        </div>
        <script type="text/javascript"> 
            WordCloud(
               document.getElementById('canvas-container-technologies'),
               {
                list: {{ TECHNOLOGIES }}, 
                minRotation:'0',
                maxRotation:'0',
                shuffle:true,
                color:color_from_fontSize
               }
            )
        </script>
</div>
{% endif %}
