<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />


    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
    {% endif %}

    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
    {% endif %}

    {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">
    {% endif %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="{{ ROBOTS }}" />

    {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% endif %}

    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% endblock %}
    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
</head>

<body id="index" class="home">
    <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
    <script src="//timdream.org/wordcloud2.js/src/wordcloud2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/html-docx-js@0.3.1/dist/html-docx.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    {% if GITHUB %}
    <script src="//yonaba.github.io/javascripts/git.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("my-github-projects").loadRepositories('{{ GITHUB }}');
        });
    </script>
    <script type="text/javascript"> 
        function color_from_fontSize(word, weight, fontSize, distance, theta) {
           var rgb = '157'-fontSize | ('172'-fontSize << 8) | ('76'-fontSize  << 16);
           return '#' + (0x1000000 + rgb).toString(16).slice(1) 
        }
    </script>
    {% endif %}

    {% include 'github.html' %}
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i></small>
            <br>
            <small class="copyright">Source code in <a href="https://gitlab.com/joanayma/resume">gitlab.com</a></small>
            <br>
            <small class="copyright">Served by <i class="fa fa-gitlab" style="color:darkorange"></i> gitlab pages</small>
        </div><!--//container-->
    </footer><!--//footer-->
    {% include 'analytics.html' %}
    {% include 'disqus_script.html' %}
</body>
</html>
